*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo_design {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5px;
    padding-right: 10px;
    color: #5DA7DB;

}

.logo_design_rest {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3C4048;
    
}

.container-fluid{
padding: 10% 10%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.heading {
    text-align: center;
    padding-bottom: 20px;
    color: #3C4048;
}


/* .thinkimg{
    padding: 4px 5px;
} */

.about {
    padding:  7px 50px 50px;
}


.header {
    width: 100%;
    height: 100vh;
    /* background-size: contain;
    background-position: center; */
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    
}


.nav-item {
  padding:  3px ;
  padding-right: 13px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: 500;
    color: #3C4048;

  }

.navbar ul li:hover::after {
    width: 100%;
}



.divider {
    width: 300px;
    height: 5px;
    background-color: black;
    display: flex;
    text-decoration: underline;
}

.second {
    background-color: #5DA7DB;
   
}
  
  .button {
    background-color: white;
    color: black;
    padding: 7px 9px;
    border: none;
  }

  .btn {
    background-color: #3C4048; 
    border: none; 
    color: white; 
    padding: 7px 9px;
    font-size: 16px; 
    cursor: pointer;
    padding: 10px 20px; 
    margin-top : 30px
}

.services {
    padding: 7px 50px;
   
}

.btn btn-lg btn-block btn-light {
    color: white;
    background-color: black;
}

.team-header{
    padding-top: 20% ;
}

.team {
    padding: 3% 3% 15%;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    text-align:center;
    padding:5%;

}




#team {
    padding: 3% 3% 15%;
    position: relative;
    z-index: 1;
  }
  
  .team-title {
    font-size: 1.5rem;
    color: #3C4048;
  }
  
  .team-box {
    text-align:center;
    padding:5%;
  }

  .team-heading {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: #3C4048;
  }

  .team-box col-lg-4{
    color: #3C4048;
  }

  .form-section {
    color: #3C4048;
    padding: 4% 3% 4%;
    background-color: #5DA7DB;
  }



  .login-header {
    padding: 3%;
  }

  .form-header {
    color: white;
  }

  .form-group {
    padding: 3%;
  

  }

  .form-control {
    background-color: #5DA7DB;
    color: white;
    border: none;
  }

  .login-heading {
    padding: 5% ;
    padding-left: 0%;
  }

.form-image {
  padding-left: 15%;
}

.card {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  overflow: hidden;
  border-radius: 15px;
  padding: 5%;
  
}

.card :hover {
        border: 1px solid #00838d;
        box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
        z-index: 500;
      }
    
    
    .card:hover {
      color: #5DA7DB;
    }


.userfeedback-section {
  padding: 6% 3% 6%;
}

.feedback{
  padding: 3%;
}

.feedback-text {
  padding-left: 0% 3% 13%;
  text-align: left;
  padding-bottom: 5%;
}

.text-left {
  padding: 0% 0% 4%;
}

 .card {
  align-items: center;
 }


.contact-section {
  background-color: #5DA7DB;
  color: #3C4048;
  
 }

 .contact-group {
  padding: 3%;
  position: relative;
  border-radius: 1rem;
  display: inline;

 }

.doctordetails {
    padding: 5% 5%;
    text-align: center;
}
 
.doctordetails-heading {
    color: #5DA7DB;
}

.doctors-button {
    padding: 5% 15% ;
    display: flex;
    justify-content: center;
}


.carousel-control{
    color: #5DA7DB;
}

.footer-section {
    background-color: #5DA7DB;
}

.social-icon {
  margin: 20px 10px;
}

@media(max-width: 1020px) {

  #heading {
    text-align: center;
  }
  .heading-image {
    position: static;
    transform: rotate(0);
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }